.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	grid-gap: 50px;
}

@media (max-width: 1024px) {
	.container {
		grid-gap: 30px;
	}
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;
	}
}

.btn {
	border: 1px solid black;
	padding: 10px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.btn.btn-first {
	background: aliceblue;
}

.btn.btn-first:hover {
	background: black;
	color: white;
}

.btn.btn-second {
	background: black;
	color: white;
}

.btn.btn-second:hover {
	color: black;
	background: aliceblue;
}
